@import "../common";

.navbar {
  .nav-links {
    ul {
      padding: 0 20px;

      li {
        display: inline-block;
      }

      a {
        font-size: 1.6rem;
        display: block;
        padding: 7px 15px;
        color: $gray-ship;
      }
    }
  }
}