<mainheader></mainheader>
<sidebar chart-data="{{$ctrl.selectedChartData}}" on-save="$ctrl.updateChart(chart, sort)"></sidebar>

<article class="content dashboard-page">
	<div class="add-new-chart">
		<h2>Add A New Chart</h2>
		<form name="addNewChart" ng-submit="$ctrl.addChart()" novalidate>
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<input type="text" placeholder="Enter Name of Chart" class="form-control" id="chart-name" name="chart-name" ng-model="$ctrl.newItem.name" required="required" autocomplete="off">
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<select class="form-control" id="chart-name" name="chart-name" ng-model="$ctrl.newItem.sort" required="required">
							<option value="">Select Order</option>
							<option ng-repeat="sort in $ctrl.sortArray" value="{{sort.value}}">{{sort.title}}</option>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<select class="form-control" id="chart-name" name="chart-name" ng-model="$ctrl.newItem.filter" required="required">
							<option value="">Select Filter By</option>
							<option value="attendence">Attendence</option>
							<option value="score">Score</option>
						</select>
					</div>
				</div>
				<div class="col-md-3">
					<button class="btn btn-primary" type="submit">Add Chart</button>
				</div>
			</div>
		</form>
	</div>
	<div class="chart-container row">
		<div class="col-md-4" ng-repeat="chart in $ctrl.charts track by $index">
			<div class="chart">
				<div class="action-buttons">
					<a ng-click="$ctrl.delete(chart.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
					<a ng-click="$ctrl.edit($index)"><i class="fa fa-cog" aria-hidden="true"></i></a>
				</div>
				<h2 class="legend">{{chart.name}}</h2>
				<svg class="{{chart.selector }}" width="400" style="max-width: 100%" height="250"></svg>
			</div>
		</div>
	</div>
</article>
<footer class="footer">
	<div class="footer-block buttons"></div>
	<div class="footer-block author">
		<p>created by <a href="https://glo.globallogic.com/users/profile/shueb.anwar" target="_blank">Shuaib Anwar</a> </p>
	</div>
</footer>