home {
  .add-new-chart {
    padding: 20px;
    background-color: #3a4651;

    h2 {
      margin-top: 0;
      color: #fff;
    }
  }
}

.chart {
  display: inline-block;
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 10px;

  .action-buttons {
    float: right;

    a {
      text-decoration: none;
      font-size: 1.6rem;
      color: #59c2e6;
      margin: 5px 0 0 10px;
      cursor: pointer;

      &:hover {
        color: #2db2df;
      }
    }
  }

  h2.legend {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 5px 0;
  }

  .bar {
    fill: #59c2e6;

    &:nth-child(even) {
      fill: #2db2df;
    }
  }
}