@import url(http://fonts.googleapis.com/css?family=Roboto);

$primaryColor: #59c2e6;
$accentColor: #1de9b6;
$bgColor: #efefef;

$darkBgColor: #3a4651;
$lightBgColor: #f0f3f6;

$lightTextColor: #7e8e9f;
$darkTextColor: #4f5f6f;

$gray-alto: #d7dde4;
$gray-ship: #666;

html {
  font: 62.5% 'Roboto', sans-serif;

  /* Sets up the Base 10 stuff */
}

a {
  font-size: 1.6rem;
  text-decoration: none;
}

.app {
  position: relative;
  padding-left: 230px;
  min-height: 100vh;
  margin: 0 auto;
  left: 0;
  background-color: $lightBgColor;
  box-shadow: 0 0 3px #ccc;
  -webkit-transition: left 0.3s ease, padding-left 0.3s ease;
  transition: left 0.3s ease, padding-left 0.3s ease;
  overflow: hidden;

  .content {
    padding: 100px 40px 100px 40px;
  }
}

.header,
.footer {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header {
  background-color: $gray-alto;
  height: 60px;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.footer {
  left: 230px;
  background-color: #fff;
  bottom: 0;
  height: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  p {
    font-size: 1.4rem;
    padding: 0px 20px;

    a {
      font-size: 1.4rem;
      color: $gray-ship;
    }
  }
}

.sidebar {
  background-color: $darkBgColor;
  width: 230px;
  padding-bottom: 60px;
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 0;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 20;
}

.table {
  border-collapse: collapse;
  background-color: transparent;
  min-width: 500px;
  width: 100%;

  td, th {
    font-size: 1.4rem;
    border: 1px solid #99bfd8;
    padding: 10px;
    color: #4f5f6f;
    text-align: left;
  }

  tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

label {
  &.inline {
    display: inline-block !important;
  }
}

.radio, .checkbox {
  position: relative;
  display: block;
  margin-bottom: .75rem;
}

.radio, .checkbox {
  display: none;
}

.radio + span, .checkbox + span {
  padding: 0;
  padding-right: 10px;
  font-size: 1.4rem;
  cursor: pointer;
}

.radio:checked + span:before {
  content: "\f192";
}

.radio:checked + span:before, .checkbox:checked + span:before {
  color: #59c2e6;
}

.radio + span:before {
  content: "\f111";
}

.radio + span:before, .checkbox + span:before {
  font-family: FontAwesome;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 10px;
  color: #c8d0da;
  margin-top: -2px;
}

.btn {
  display: inline-block;
  padding: .375rem 1rem;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;

  &.btn-primary {
    color: #ffffff;
    background-color: #59c2e6;
    border-color: #59c2e6;
  }
}

.form-group {
  label {
    display: block;
    font-size: 1.4rem;
    color: $gray-ship;
    padding: 4px 0;
  }

  .form-control {
    font-size: 1.4rem;
    width: 100%;
    border: 1px solid #e3e3e3;
    padding: 5px;
    box-sizing: border-box;
    height: 30px;
  }
}

.ng-submitted{
  .ng-invalid{
    background-color: #FFCCCC ;
  }
}